/* Helper Classes Begin */

.no-pad{
	padding:0px;
}

.pad-12{
	padding:12px 12px 0px;

}

.test-border{  /* For testing layout during development, remove before production */
	border:1px solid black;
}
/* Helper Classes End */

/* Page Styles Begin */

/*::selection{
	color:green;
	background-color:red;
}*/

body{
	background:#d3d3d3;
	text-align: center;
}

h2{
	font-size:28px;
}

.brand{
	height:32px;
}

.nav{
	margin:0;
}

.hero img{
	height:100vh;
	width:100%;
}

.hero span:nth-of-type(1){
	position:absolute;
	left:66%;
	top:145px;
	color:white;
	font-size:60px;
}

.hero span:nth-of-type(2){
	position:absolute;
	left:71%;
	top:228px;
	color:#d3d3d3;
	font-size:32px;
	line-height: 1;
}

.hero div{
	position:absolute;
	left:61%;
	top:370px;
}

.content-col{
	height:100px;
}
